<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
  <mat-toolbar-row fxLayoutAlign="space-between center">
  <div>
    <button mat-button>
      <img src="assets/images/Final_Logo.png" style="margin-left: 100px;" width="170px" height="auto">
    </button>
  </div>
</mat-toolbar-row>
<mat-toolbar-row fxLayout="row" fxLayoutAlign=" end ">
  <div class="navbar">
    <button mat-button>
      <span>Services</span>
    </button>
    
  <!--<mat-form-field font-size="1rem">
    <mat-label >Favorite food</mat-label>
    <mat-select>
      
      
    </mat-select>
  </mat-form-field>
-->

    <button mat-button>
      <span>Savings Calculator</span>
    </button>
    <button mat-button>
      <span>Partners</span>
    </button>
    <button mat-button>
      <span>About</span>
    </button>
    <button mat-button class="login">
      <span >Login</span>
    </button>
  </div>
  <!--
  <div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
      <span>Menu</span>
    </button>
  </div> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class=" text-center">
  <h1 class="h1-size"> ELEVATE YOUR PRACTICE</h1>
  <p class="first-container-p px-5">
    At Dental Leap, we bring in decades of technology, business and marketing experience together to revolutionize the management of dental practices. As a trusted provider of non-clinical services, take advantage of our proven strategies to help grow your practice, increase profits and enjoy a better work-life balance.
  </p>
</div>
<div class="endpart">
  <div class="endpart2">
    <div class="endpart3" style="margin-right: auto; margin-left: auto; margin-top: 10px; padding-top: 50px; padding-bottom: 50px;">
      <div class="firstcolumn">
        <h3 class="h3-class">Services</h3>
        <ul>
          <li class="margin-y">
            <a >Marketing</a>
          </li>
          <li class="margin-y">
            <a >Billing and Collections</a>
          </li>
          <li class="margin-y">
            <a >Finance</a>
          </li>
          <li class="margin-y">
            <a >Supplies</a>
          </li>
          <li class="margin-y">
            <a >HR & Compliance</a>
          </li>
          <li class="margin-y">
            <a >IT Services</a>
          </li>
          <li class="margin-y">
            <a >Practice Buildout</a>
          </li>
          <li class="margin-y">
            <a >Artificial Intelligence</a>
          </li>
        
        </ul>
        <!--<mat-list class="margin-y" role="list">
          <mat-list-item role="listitem" onclick="//www.youtube.com/">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>-->
        
      </div>
      <div class="spacingbetween"></div>
      <div class="firstcolumn">
        <h3 class="h3-class">About</h3>
        <ul>
          <li class="margin-y">
            <a >Contact Us</a>
          </li>
          <li class="margin-y">
            <a >Company</a>
          </li>
          <li class="margin-y">
            <a >Team</a>
          </li>
        </ul>
        <h3 class="h3-class">Support</h3>
        <ul>
          <li class="margin-y">
            <a >Contact Support</a>
          </li>
          <li class="margin-y">
            <a >Professional Services</a>
          </li>
          <li class="margin-y">
            <a >Terms & Conditions</a>
          </li>
          <li class="margin-y">
            <a >Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="spacingbetween2"></div>
      <div class="firstcolumn">
        <h3 class="h3-class">Quick Links</h3>
        <ul>
          <li class="margin-y">
            <a >Practice Login</a>
          </li>
        </ul>
        <h3 class="h3-class">Get In Touch</h3>
        <ul>
          <li class="margin-y">
            <a >Call Us 1+(201)584-8690</a>
          </li>
          <li class="margin-y">
            <a >411 E Mount Pleasant Ave
              Livingston, NJ 07039</a>
          </li>
        </ul>
        <button class="getstarted">
          <h3>GET STARTED</h3>
        </button>
        </div>
    </div>
  </div> 
</div>

